nav{
    font-family: 'Ubuntu', sans-serif; 
    width: 100%; 
    margin-top: -80;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 0px;
}
a:hover {
    color:purple;
  }

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(30, 38, 155);
    color: white; 
    
} 
#heading{
    color: rgb(227, 111, 231);
    font-style: unset;
    font-family: 'Comforter Brush', cursive;
    margin: 20px;
    padding: 20px;
    background:rgba(0, 2, 1, 0.603);
    line-height: 18px;
    height: 18px;
    font-size: 35px;
    border-radius: 50px;
    color: blueviole;
    margin-top: 0px;   
    
    
}



nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem; 
    color: rgb(220, 223, 196); 
    
}
