*{
    margin: 0;
    padding: 0;
} 

html{ 
    text-align: center; 
}  
#nameDiv{ 
    margin-top: 50px;
} 
#entry{ 
    width: 130px; 
    height: 30px; 
    background-color: rgb(228, 26, 228); 
    font-size: 15px; 
    font-weight: 500; 
    font-family: cursive; 
    margin: 20PX; 
    color: black;
}
.input{
    size: 25px; 
    color: rgb(230, 226, 45); 
    font-weight: 500; 
    font-family: cursive; 
    margin: 10px;
} 
table{ 
    border-collapse: collapse; 
    width: 50%; 
    margin: 50px auto; 
    background-color: rgb(231, 145, 231); 

} 
table, th,td{ 
    border: 2px solid rgb(56, 9, 56); 
    padding: 4px;
} 
th{ 
    font-size: 18px; 
    font-weight: 400; 
    color:black 
    
} 
td{ 
    font-size: 28px; 
    font-weight: 400; 
    font-family: sans-serif; 
    color: rgb(48, 13, 88) ;
}
